{
    background-color: rgb(248, 196, 253);
    color : rgb(196, 105, 248);
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: #e0b0de;
    color: rgb(255, 91, 239); 
}
.navbar ul{

display: flex;
gap:4px ;
list-style: nome;
}
header{
    position: relative;
}
header{
    position: absolute;
    left: calc(50%);
    
}
.ponto {
margin:12px;
list-style:disc;
}
/* conato.html */
.formulario-campo{
    display: flex;
    flex: 1;
    gap:16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}
.formulario-campo label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-content: flex-end;
}
body{
    background-color: #fb56f5;
    color: rgb(151, 25, 171);
    background-image: url(../make.webp);
}